*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
body{
    font-family: "Josefin Sans" sans-serif;
    box-sizing: border-box;
}
.redmelink{
    position: fixed;
    bottom: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.292);
    background-color: rgba(37, 37, 37, 0.8);
    padding: 5px;
}
.redmelink:link{
    color: grey;
    transition: color 0.3s ease;

}
.redmelink:hover{
    color: white;
    transition: color 0.3s ease;

}
#start{
    scroll-margin-top: 50px;
}
/*
#navigation{
    /*background-color: rgb(0, 200, 200);*//*
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}*/
/*
#navigation nav{
    color: white;
    margin:auto 0;
}*/

/*
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
/*
nav a{
    margin: 0 10px;
    padding: 10px; 
    /*background-color: rgb(37, 166, 145);*//*
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}*/
/*
a:hover{
    background-color: aqua;
    color: black;
} */
/*
#uhr{
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 120px;
}*/

#startimg{
    width: 100%;
    height: 100vh;
    position: relative;
}
#startimg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#startimgimg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99;
}

.starttext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 99;
    font-size: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.starttext p{
    font-size: 35px;
}
.italic{
    font-style: italic;
}
.notsowhite{
    color: rgba(255, 255, 255, 0.655);
}
h2{
    font-size: 40px;
}
h1{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.starttext a{
    text-decoration: none;
    border: 1px dashed rgb(171, 171, 171);
    font-size: 20px;
    padding: 15px;
    color: rgb(171, 171, 171);
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.starttext a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    transition: background-color 0.3s ease;

}

#uhr{
    position: fixed;
    color: rgba(255, 255, 255, 0.292);
    z-index: 99;
    font-family: sans-serif;
    right: 0px;
    top: 0px;
    background-color: rgba(37, 37, 37, 0.8);
    padding: 5px;
}

#logo{
    position: absolute;
    z-index: 99;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
}

#introduction{
    background-color: rgb(148, 148, 160);
    width: 100%;
}
.textContainer{
    width: 50%;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;

}
.textContainer h3{
    font-size: 50px;
    padding-bottom: 10px;
    
}
.textContainer p{
    padding-bottom: 10px;
}
.textContainer h4{
    font-size: 40px;
    padding-bottom: 10px;
}
.containerLeft li{
    padding-bottom: 10px;
    margin-left: 20px;
}
.containerLeft ul{
    padding-top: 20px;
    padding-left: 15px;
}
.paddingTop{
    padding-top: 10px;
}
.paddingLeft{
    padding-left: 20px;
}
.containerRight strong{
    font-size: 20px;
}

#profilePic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 40%;
}
#resume{
    height: 100vh;
    background-color: rgb(103, 112, 126);
    color: black;
}

.twoContainer{
    display: flex;
    width: 100%;
}
.containerLeft, .containerRight{
    width: 50%;
}
.resumeBlock{
    padding-left: 20px;
}
.resumeBlock h4{
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: rgb(48, 48, 48);
}
.resumeBlock h5{
    font-size: 20px;
    padding: auto;
}
.resumeBlock p{
    font-size: 20px;
    margin-left: 5px ;
}

#projects{
    background-color: rgb(175, 175, 189);
    height: 60vh;
}
#projects ul{
    margin-left: 30px;
    font-size: 20px;
}
#projects li{
    margin-bottom: 10px;
}
#navleiste{
    height: 80vh;
    width: 2px;
    background-color: grey;
    position: fixed;
    top: 10%;
    left: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    padding-left: 3px;
    font-family: "Josefin Sans";
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
    
}

a:link {
    color: white;
}


.highlight{
    color: rgb(7, 248, 144);
}

/* #contact{
    height: 100vh;
    width: 100%;
    background-color: rgb(103, 112, 126);
    padding-top: 50px;
    
}
.formWrapper{
    background-color: rgb(154, 154, 154);
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 50px;
    
}
.formHeader{
    margin: 20px auto;
    font-size: 50px;
}
.formText{
    font-size: 30px;
    margin: 0 auto;
}
.formText::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
    margin: 10px auto;
}
.formForm{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputFormWraper{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 20px;
}
.inputFormWraper label{
    margin-top: 20px;
}
.inputFormWraper input, textarea{
    border-radius: 3px;
    font-size: 18px;
    padding: 3px;
    border: none;
    font-family: "Montserrat", sans-serif;

}
#submit{
    margin-top: 20px;
    width: 20%;
    cursor: pointer;
    background-color: aliceblue;
    transition: background-color 0.3s ease;

}
#submit:hover{
    background-color: rgb(177, 208, 235);
    transition: background-color 0.3s ease;

} */

#readmePopup {
    position: fixed; /* Fixed Positionierung, um immer im Sichtfeld zu bleiben */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Breite des Popups */
    max-width: 600px; /* Maximale Breite */
    background-color: rgb(72, 72, 72);
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid #ddd; /* Grauer Rahmen */
    border-radius: 8px; /* Abgerundete Ecken */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
    z-index: 1000; /* Stellt sicher, dass das Popup über anderen Elementen erscheint */
    display: none; /* Anfangs nicht angezeigt */
    font-family: sans-serif;
}
#readmePopup a{
    text-decoration: underline;
    font-family: sans-serif;
}
#readmePopup h1{
    font-size: 50px;
    text-shadow: none;

}
#readmePopup h2{
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 30px;
}
#readmePopup p{
    margin-left: 25px;
    margin-right: 25px;
}
#readmePopup li{
    margin-left: 45px;
    margin-right: 45px;
}
#readmePopup h3{
    margin-left: 40px;
    font-size: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 20;
}
/* Stil für den Inhalt des Popups */
#readmeContent {
    margin-bottom: 20px; /* Abstand zum Schließen-Button */
}

/* Stil für den Schließen-Button */
#readmePopup button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f44336; /* Roter Hintergrund */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#readmePopup button:hover {
    background-color: #d32f2f; /* Dunklerer Rotton bei Hover */
}