*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
body{
    font-family: "Josefin Sans" sans-serif;
    box-sizing: border-box;
}

#start{
    scroll-margin-top: 50px;
}
/*
#navigation{
    /*background-color: rgb(0, 200, 200);*//*
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
}*/
/*
#navigation nav{
    color: white;
    margin:auto 0;
}*/

/*
nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/
/*
nav a{
    margin: 0 10px;
    padding: 10px; 
    /*background-color: rgb(37, 166, 145);*//*
    background-color: rgb(184, 184, 184);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}*/
/*
a:hover{
    background-color: aqua;
    color: black;
} */
/*
#uhr{
    color: aliceblue;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 15px;
    width: 120px;
}*/

#startimg{
    width: 100%;
    height: 100vh;
    position: relative;
}
#startimg::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

#startimgimg{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -99;
}

.starttext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 99;
    font-size: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.starttext p{
    font-size: 35px;
}
.italic{
    font-style: italic;
}
.notsowhite{
    color: rgba(255, 255, 255, 0.655);
}
h2{
    font-size: 40px;
}
h1{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.starttext a{
    text-decoration: none;
    border: 1px dashed rgb(171, 171, 171);
    font-size: 20px;
    padding: 15px;
    color: rgb(171, 171, 171);
    margin-top: 20px;
    transition: background-color 0.3s ease;
    

}

.starttext a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    transition: background-color 0.3s ease;

}

#uhr{
    position: fixed;
    color: rgba(255, 255, 255, 0.292);
    z-index: 99;
    font-family: sans-serif;
    right: 0px;
    top: 0px;
    background-color: rgba(37, 37, 37, 0.8);
    padding: 5px;
}

#logo{
    position: absolute;
    z-index: 99;
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
}

#introduction{
    background-color: rgb(148, 148, 160);
    width: 100%;
}
.textContainer{
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;

}
.textContainer h3{
    font-size: 50px;
    padding-bottom: 20px;
}
.textContainer h4{
    font-size: 40px;
    padding-bottom: 15px;
    padding-top: 20px;
}
.containerLeft li{
    padding-bottom: 10px;
    margin-left: 20px;
}
.containerLeft ul{
    padding-top: 20px;
    padding-left: 15px;
}
.paddingTop{
    padding-top: 10px;
}
.paddingLeft{
    padding-left: 20px;
}
.containerRight strong{
    font-size: 20px;
}

#profilePic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 40%;
}
#resume{
    height: 100vh;
    background-color: rgb(103, 112, 126);
    color: black;
}

.twoContainer{
    display: flex;
    width: 100%;
}
.containerLeft, .containerRight{
    width: 50%;
}
.resumeBlock{
    padding-left: 20px;
}
.resumeBlock h4{
    font-size: 30px;
    letter-spacing: 2px;
    text-decoration: underline;
    color: rgb(48, 48, 48);
}
.resumeBlock h5{
    font-size: 20px;
}
.resumeBlock p{
    font-size: 20px;
    margin-left: 5px ;
}

#projects{
    background-color: rgb(175, 175, 189);
    height: 80vh;
}
#navleiste{
    height: 80vh;
    width: 2px;
    background-color: grey;
    position: fixed;
    top: 10%;
    left: 20px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    padding-left: 3px;
    font-family: "Josefin Sans";
    font-style: italic;
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
    
}

a:link {
    color: white;
}


.highlight{
    color: rgb(7, 248, 144);
}

#contact{
    height: 100vh;
    background-color: rgb(103, 112, 126);

}
.formcontainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headerform{
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.form-elements2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.form-elements2 input, textarea{
    font-size: 15px;
    border-radius: 5px;
    border: none;
}
.form-elements2 label{
    margin-top: 15px;
    margin-bottom: 5px;
}
