#Uhr {
    position: relative;
    right: 20px; 
    top : 20px;
    background: rgba(22, 248, 79, 0.7);
    color: white;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}
#Uhr>a{
    display: block;
    padding: 10px;
}